@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  max-width: 100%;
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1; }

/*========== GOOGLE FONTS ===========================*/
/*
font-family: 'Public Sans', sans-serif;
*/
html {
  font-family: "Public Sans", sans-serif; }
