@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  max-width: 100%;
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1; }

/*========== GOOGLE FONTS ===========================*/
/*
font-family: 'Public Sans', sans-serif;
*/
html {
  font-family: "Public Sans", sans-serif; }

.header {
  padding: 0.6rem 2rem; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__icons {
    width: 1.2rem; }
  .nav__icon {
    width: 1.2rem; }

.user-icon {
  width: 2rem;
  border-radius: 50%;
  overflow: hidden; }
  .user-icon img {
    width: 100%;
    height: 100%; }

.right {
  display: flex;
  align-items: center;
  gap: 1rem; }

.notification {
  position: relative; }
  .notification .tooltip {
    position: absolute;
    top: -0.5rem;
    left: 0.5rem;
    background-color: #ff4842;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: white;
    font-size: 0.75rem; }
