// COLORS
$clr-01: #000000;
$clr-02: #00ab55;
$clr-03: #005249;
$clr-04: #74caff;
$clr-05: #7a4f01;
$clr-06: #919eab; //icons-color
$clr-07: #c8facd;
$clr-08: #161c24;
$clr-09: #1890ff;
$clr-10: #faaf00;
$clr-11: #ffa48d;
$clr-12: #ffc107;
$clr-13: #ffffff;
$clr-14: #ff4842;
$clr-15: #212b36;
$clr-16: #54d62c;
$clr-17: #637381;
